// src\assets\sass\components\_index.scss
// accordion
@import "accordion";
// button
@import "button";
// form
@import "form";
// pagination
@import "pagination";
// tab
@import "tab";
// table
@import "table";
// card
@import "card";
// select2
@import "select2";
// countdown
@import "countdown";
// badge
@import "badge";
// range slider
@import "range-slider";
// captcha
@import "captcha";

@import "dashboard";

@import "pos";

@import "listusers";

@import "modalusers";

@import "registro";

// data-table moderna
@import "data-table";

// guias de remision
@import "guias-remision";
