<!-- ========================= Breadcrumb Start =============================== -->
<app-breadcrumb title="Checkout" subtitle="Checkout"></app-breadcrumb>

<!-- ========================= Breadcrumb End =============================== -->

<!-- ================================= Checkout Page Start ===================================== -->
<section class="checkout py-80">
    <div class="container container-lg">
        <div class="border border-gray-100 rounded-8 px-30 py-20 mb-40">
            <span class="">¿Tienes un cupón? <a [routerLink]="['cart']"
                    class="fw-semibold text-gray-900 hover-text-decoration-underline hover-text-main-600">Haz clic aquí para
                    ingresar tu código</a> </span>
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <form action="#" class="pe-xl-5">
                    <div class="row gy-3">
                        <div class="col-sm-6 col-xs-6">
                            <input type="text" class="common-input border-gray-100" placeholder="Nombres">
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <input type="text" class="common-input border-gray-100" placeholder="Apellidos">
                        </div>
                        <div class="col-12">
                            <input type="text" class="common-input border-gray-100" placeholder="Nombre de la Empresa (opcional)">
                        </div>
                        <div class="col-12">
                            <input type="text" class="common-input border-gray-100" placeholder="Estados Unidos (US)">
                        </div>
                        <div class="col-12">
                            <input type="text" class="common-input border-gray-100"
                                placeholder="Número de casa y nombre de la calle">
                        </div>
                        <div class="col-12">
                            <input type="text" class="common-input border-gray-100"
                                placeholder="Apartamento, suite, unidad, etc. (opcional)">
                        </div>
                        <div class="col-12">
                            <input type="text" class="common-input border-gray-100" placeholder="Ciudad">
                        </div>
                        <div class="col-12">
                            <input type="text" class="common-input border-gray-100" placeholder="San Francisco">
                        </div>
                        <div class="col-12">
                            <input type="text" class="common-input border-gray-100" placeholder="Código Postal">
                        </div>
                        <div class="col-12">
                            <input type="number" class="common-input border-gray-100" placeholder="Teléfono">
                        </div>
                        <div class="col-12">
                            <input type="email" class="common-input border-gray-100" placeholder="Correo Electrónico">
                        </div>

                        <div class="col-12">
                            <div class="my-40">
                                <h6 class="text-lg mb-24">Información Adicional</h6>
                                <input type="text" class="common-input border-gray-100"
                                    placeholder="Notas sobre tu pedido, p. ej. notas especiales para la entrega.">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="checkout-sidebar">
                    <div class="bg-color-three rounded-8 p-24 text-center">
                        <span class="text-gray-900 text-xl fw-semibold">Tus Pedidos</span>
                    </div>

                    <div class="border border-gray-100 rounded-8 px-24 py-40 mt-24">
                        <div class="mb-32 pb-32 border-bottom border-gray-100 flex-between gap-8">
                            <span class="text-gray-900 fw-medium text-xl font-heading-two">Producto</span>
                            <span class="text-gray-900 fw-medium text-xl font-heading-two">Subtotal</span>
                        </div>

                        <div class="flex-between gap-24 mb-32">
                            <div class="flex-align gap-12">
                                <span class="text-gray-900 fw-normal text-md font-heading-two w-144">HP Chromebook Con
                                    Intel Celeron</span>
                                <span class="text-gray-900 fw-normal text-md font-heading-two"><i
                                        class="ph-bold ph-x"></i></span>
                                <span class="text-gray-900 fw-semibold text-md font-heading-two">1</span>
                            </div>
                            <span class="text-gray-900 fw-bold text-md font-heading-two">$250.00</span>
                        </div>
                        <div class="flex-between gap-24 mb-32">
                            <div class="flex-align gap-12">
                                <span class="text-gray-900 fw-normal text-md font-heading-two w-144">HP Chromebook Con
                                    Intel Celeron</span>
                                <span class="text-gray-900 fw-normal text-md font-heading-two"><i
                                        class="ph-bold ph-x"></i></span>
                                <span class="text-gray-900 fw-semibold text-md font-heading-two">1</span>
                            </div>
                            <span class="text-gray-900 fw-bold text-md font-heading-two">S/250.00</span>
                        </div>
                        <div class="flex-between gap-24 mb-32">
                            <div class="flex-align gap-12">
                                <span class="text-gray-900 fw-normal text-md font-heading-two w-144">HP Chromebook Con
                                    Intel Celeron</span>
                                <span class="text-gray-900 fw-normal text-md font-heading-two"><i
                                        class="ph-bold ph-x"></i></span>
                                <span class="text-gray-900 fw-semibold text-md font-heading-two">1</span>
                            </div>
                            <span class="text-gray-900 fw-bold text-md font-heading-two">$250.00</span>
                        </div>
                        <div class="flex-between gap-24 mb-32">
                            <div class="flex-align gap-12">
                                <span class="text-gray-900 fw-normal text-md font-heading-two w-144">HP Chromebook With
                                    Intel Celeron</span>
                                <span class="text-gray-900 fw-normal text-md font-heading-two"><i
                                        class="ph-bold ph-x"></i></span>
                                <span class="text-gray-900 fw-semibold text-md font-heading-two">1</span>
                            </div>
                            <span class="text-gray-900 fw-bold text-md font-heading-two">$250.00</span>
                        </div>


                        <div class="border-top border-gray-100 pt-30  mt-30">
                            <div class="mb-32 flex-between gap-8">
                                <span class="text-gray-900 font-heading-two text-xl fw-semibold">Subtotal</span>
                                <span class="text-gray-900 font-heading-two text-md fw-bold">S/859.00</span>
                            </div>
                            <div class="mb-0 flex-between gap-8">
                                <span class="text-gray-900 font-heading-two text-xl fw-semibold">Total</span>
                                <span class="text-gray-900 font-heading-two text-md fw-bold">S/859.00</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-32">
                        <div class="payment-item">
                            <div class="form-check common-check common-radio py-16 mb-0">
                                <input class="form-check-input" type="radio" name="payment" id="payment1" checked>
                                <label class="form-check-label fw-semibold text-neutral-600" for="payment1">Transferencia
                                    bancaria directa</label>
                            </div>
                            <div class="payment-item__content px-16 py-24 rounded-8 bg-main-50 position-relative">
                                <p class="text-gray-800">Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como referencia de pago. Su pedido no se enviará hasta que los fondos se hayan acreditado en nuestra cuenta.</p>
                            </div>
                        </div>
                        <div class="payment-item">
                            <div class="form-check common-check common-radio py-16 mb-0">
                                <input class="form-check-input" type="radio" name="payment" id="payment2">
                                <label class="form-check-label fw-semibold text-neutral-600" for="payment2">Verificar
                                    pagos</label>
                            </div>
                            <div class="payment-item__content px-16 py-24 rounded-8 bg-main-50 position-relative">
                                <p class="text-gray-800">Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como referencia de pago. Su pedido no se enviará hasta que los fondos se hayan acreditado en nuestra cuenta.</p>
                            </div>
                        </div>
                        <div class="payment-item">
                            <div class="form-check common-check common-radio py-16 mb-0">
                                <input class="form-check-input" type="radio" name="payment" id="payment3">
                                <label class="form-check-label fw-semibold text-neutral-600" for="payment3">Pago
                                    contra entrega</label>
                            </div>
                            <div class="payment-item__content px-16 py-24 rounded-8 bg-main-50 position-relative">
                                <p class="text-gray-800">Realice su pago en efectivo al momento de la entrega. Asegúrese de tener el monto exacto, ya que no se podrá proporcionar cambio.</p>
                            </div>
                        </div>
                    </div>

                    <div class="mt-32 pt-32 border-top border-gray-100">
                        <p class="text-gray-500">Sus datos personales se utilizarán para procesar su pedido, mejorar su experiencia en este sitio web y para otros fines descritos en nuestra <a href="#"
                                class="text-main-600 text-decoration-underline"> política de privacidad</a> .</p>
                    </div>

                    <a [routerLink]="['checkout']" class="btn btn-main mt-40 py-18 w-100 rounded-8 mt-56">Realizar
                        pedido</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= Checkout Page End ===================================== -->

<!-- ========================== Shipping Section Start ============================ -->
<app-shipping></app-shipping>

<!-- ========================== Shipping Section End ============================ -->